/*Import fonts used in 501 theme*/
@font-face {
  font-display: block;
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/proxima-nova-bold.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/proxima-nova-black.woff2') format('woff2');
}

body {
  background: #2d004b;
  font-family: Proxima-Nova, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 6.25rem 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Container for featured cards to set max width similar to existing image on site. Flexbox column used to stack cards on mobile.*/
.trusted-numbers {
  display: flex;
  flex-direction: column;
  max-width: 58.125rem;
  margin: 0 auto;
	width: 100%;
}

/*Styling for all cards. Bottom padding using viewport width so that it scales with card widths - reduces dead space between text and image. Bottom margin adds gap between cards, using viewport width to scale with card sizes.*/
.trusted-numbers .trusted-card {
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  height: 25rem;
  padding: 1.438rem 1.438rem 90vw;
  margin: 0 auto 3vw;
}

/*Bottom margin not needed for last card.*/
.trusted-numbers .trusted-card:last-of-type {
  margin-bottom: 0;
}

.trusted-card p {
  margin-top: 0;
}

/*Styling for large stats text - font size using viewport width so that it scales with card widths.*/
.trusted-card .stat {
  font-size: 12vw;
  font-weight: 900;
  letter-spacing: -0.188rem;
}

/*Styling for 'Guests' card. Image is SVG for scalability, set as div background for bottom positioning. Background and color picked from original image. Rotated to match original image.*/
.guests {
  background: url("../assets/img/clap.svg") #17FF00;
  background-position: left 101%;
  background-size: 85% auto;
  color: #064000;
  transform: rotate(1deg);
  width: 80%;
}

/*Styling for 'Countries' card. Image is SVG for scalability, set as div background for bottom positioning. Background and color picked from original image. Rotated to match original image.*/
.countries {
  background: url("../assets/img/globe.svg") #E800B8;
  background-position: left 101%;
  background-size: 100% auto;
  color: #400033;
  transform: rotate(-1deg);
  width: 65%;
}

/*Styling for 'Darts' card. Image is SVG for scalability, set as div background for bottom positioning. Background and color picked from original image. Rotated to match original image.*/
.darts {
  background: url("../assets/img/dart.svg") #0088FF;
  background-position: 0 80%;
  background-size: 90% auto;
  color: #00213f;
  transform: rotate(1deg);
  width: 85%;
}

/* Medium and up (640px >) */
@media screen and (min-width: 40em) {
  /*Styling for all cards. Flexbox row used so that cards sit side-by-side rather than stacking. Gap adds spaces between cards.*/
  .trusted-numbers {
    flex-direction: row;
    gap: 1%;
  }

  .trusted-numbers .trusted-card {
    padding: 1.438rem
  }

  /*Styling for large stats text over 640px browser width- font size using viewport width so that it scales with card widths.*/
  .trusted-card .stat {
    font-size: 5.5vw;
  }

  /*Card widths set to be similar to original image.*/
  .guests {
    width: 33%;
  }

  .countries {
    width: 25%;
  }

  .darts {
    width: 40%;
  }
}

/* Large and up (1024px >) */
@media screen and (min-width: 64em) {
  .trusted-card .stat {
    font-size: 3.625rem;
  }
}